.hero{
  .bouton{
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-white);
    background: var(--color-gradient);
    padding: var(--padding-thin) var(--padding-large);
  }
}