.creations{
  margin-bottom: var(--margin-large);
  .wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  article{
    padding: var(--padding-large);
  }
  img{
    width: 15%;
  }
}