.headerPrincipal{
  margin: var(--margin-large);
  .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      width: 50px;
      margin-right: var(--margin-large);
    }
  }
}

@media screen and (min-width: $vw-medium){
  .headerPrincipal .wrapper{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
}