.hero{
  background-color: var(--color-bg-secondary);
  padding: var(--padding-large) var(--padding-thin) 0;
  margin-bottom: var(--margin-large);
  .wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  img{
    width: 65%;
    margin-top: var(--margin-large);
  }
}

@media screen and (min-width: $vw-medium){
  .hero .wrapper{
    display: flex;
    flex-direction: row;
  }
}